<%- include ("./includes/header.ejs") %>
      <!-- Create todo section -->
      <%- include ("./includes/form.ejs") %>
      <div class="p-2 mx-4 border-black-25 border-bottom"></div>
      <br />
      <!-- Todo list section -->
      <%- include ("./includes/todos.ejs") %>
<%- include ("./includes/footer.ejs") %>